{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": [2, "always-multiline"],
    "default-case": [2, { "commentPattern": "^skip\\sdefault" }],
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "newline-per-chained-call": 0,
    "no-underscore-dangle": 0,
    "no-confusing-arrow": 0,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-alert": 2,
    "no-debugger": "error",
    "no-use-before-define": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
