.subscribe{
  padding: 100px 0;
  background-color: #fece47;

  h2{
    color: #fff;
    padding-bottom: 10px;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0px;
    position: relative;

    &::after{
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 4px;
      background: #fff;
    }
  }

  p{
    margin-bottom: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fbf6f6;
    
  }
}

.contentCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox{
  width: 300px !important;
  height: 40px;
  border: none;

  &:focus{
    box-shadow: none !important;
    border: none !important;
    z-index: 0 !important;
  }
}