$off-white: #f8f9fa;
$color-pure-white: #ffffff;
$text-highlighted: #5eb4ff;

$color-black: #111;
$color-light-grey: #d8e3e7;
$color-grey: #bdc7c9;
$color-dark-purple: #312c51;
$color-blue: #035aa6;
$color-light-blue: #1597bb;
$color-grey-bullet: #e5e7eb;
$color-dark-violet: #1F074F;

$border-radius: 6px;
$border-radius-round: 50%;

$footer-background: $color-dark-violet;