$off-white: #f8f9fa;
$pure-white: #ffffff;
$text-highlighted: #5eb4ff;

$color-black: #111827;
$color-light-grey: #d8e3e7;
$color-grey: #bdc7c9;
$color-dark-purple: #312c51;

$border-radius: 6px;
$border-radius-round: 50%;