@import './common';
@import './mixins';

.content-container {
  @extend .mx-auto;
  padding: 80px 36px 60px 36px;
  font-size: 1.6rem;
  line-height: 2.8rem;

  h1, h2, h3, h4, h5, h6 {
    color: #111827;
  }

  h2, h3 {
    padding-top: 1.2rem;
  }

  p{
    font-weight: 400;
    margin: 1.25em 0;
    letter-spacing: 0.2px;
    word-spacing: 0.4px;
    
    img{
      border-radius: 6px;
      margin: 2.4rem 0;
      width: 100%;
      @include box-shadow(0, 0, 1.2rem, 0.2rem, rgba(0,0,0,0.1));
    }
  }
}

.content-h1 {
  margin: 1rem 0;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid rgb(229, 231, 235);
}

@media (min-width: 1440px) {
  .content-container{
    min-width: 850px;
    max-width: 1000px;
  }
}
@media (min-width: 768px) {
  .content-container{
    width: 66.666667%;
  }
}

.content {
  overflow: hidden;
  padding-top: 105px;
}