@import './variables';
@import './common';
@import './mixins';

.header {
  width: 100%;
}
.nav-container {
  width: 100%;
  height: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: $color-pure-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
  position: fixed;
  @include transition(margin-top 0.35s ease-in-out);
}

.right-hand-nav-drawer {
  list-style-type: none;
  padding: 20px 0;
  height: 100%;
  background: #fff;
  li {
    @include transition(background-color 0.35s ease-in-out);
    a {
      @extend .links;
      width: 100%;
      padding: 10px 0 10px 24px !important;
      display: block;
      margin-bottom: 5px;
    }

    &:hover {
      background-color: $color-light-grey;
    }
  }
}

.drawer-styles {
  :global(.ant-drawer-body) {
    padding: 0;
  }
  :global(.ant-drawer-title) {
    font-size: 2.4rem;
  }
}

.navbar-right-menus {
  display: flex;
  align-items: center;
}

.links {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.6rem;
  color: $color-black !important;

  &:hover {
    transition: color ease-in-out 0.3s;
    color: $text-highlighted;
  }
}

.nav-title {
  font-size: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu-outline {
  cursor: pointer;
  color: $color-black;
  border-radius: $border-radius;
  opacity: 0.6;
  padding: 6px;
  @include transition(
    opacity 0.35s ease-in-out,
    background-color 0.35s ease-in-out
  );

  &:hover {
    opacity: 1;
    background-color: $color-grey;
  }
}

.navbar-hidden {
  margin-top: -65px;
}